body {
    padding: 20px;
    background-color: black;
}

img {
    width: 100%;
    height: auto;
}

#page_title {
    text-align: center;
    color: white;
}

#welcome{
    text-align: center;
    color: rgb(63, 170, 165);
}

.info-section{
    padding: 20px;
    color: white;
}